:root {
  --cor-fundo: #ffffff;
  --cor-texto: #333333;
  --cor-destaque: #b89f5b;
  --cor-destaque-escuro: #8a6f4e;
  --fonte-titulos: "Playfair Display", serif;
  --fonte-corpo: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* olhar */
  font-family: var(--fonte-corpo);
  color: var(--cor-texto);
}

[data-theme="dark"] {
  --cor-fundo: #202020;
  --cor-texto: #ffffff;
  --cor-card-fundo: #2a2a2a;
  --cor-card-texto: #eeeeee;
  --cor-footer-fundo: #121212;
  --cor-footer-texto: #cccccc;
}

body {
  background: var(--cor-fundo);
  line-height: 1.6;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* olhar */
  background: var(--cor-fundo);
  position: sticky;
  top: 0px;
  z-index: 10; /* olhar */
}

.logo {
  font-family: var(--fonte-titulos);
  font-size: 1.5rem;
  color: var(--cor-destaque);
  text-decoration: none;
}

.nav-list input {
  display: none; /* olhar para que serve*/
}

.links-container ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.links-container a {
  text-decoration: none;
  transition: color 0.3s;
  padding: 1.5rem 2rem;
}

.links-container a:hover {
  color: var(--cor-destaque);
}

.header-icons a {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: var(--cor-texto);
  transition: 0.3s;
}

.header-icons a:hover {
  color: var(--cor-destaque);
}

/* Seção banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.banner-text h1 {
  font-family: var(--fonte-titulos);
  font-size: 3rem;
  color: var(--cor-destaque);
  margin-bottom: 1rem;
}

.banner-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn-principal {
  display: inline-block; /* olhar para que serve*/
  background: var(--cor-destaque);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 50px;
  transition: background 0.3s;
  text-decoration: none;
}

.btn-principal:hover {
  background: var(--cor-destaque-escuro);
}

.banner-image img {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

/* Seção de Destaques de Produtos */
.destacados {
  text-align: center;
  padding: 3rem;
}

.destacados h2 {
  font-family: var(--fonte-titulos);
  font-size: 2.5rem;
  color: var(--cor-destaque);
  margin-bottom: 2rem;
}

.cards {
  /* olhar para pq tem classe cards e card*/
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* olhar para que serve*/
}

.card {
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  width: 280px;
}

.card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.card h3 {
  font-family: var(--fonte-titulos);
  margin-bottom: 0.5rem;
  color: var(--cor-destaque);
}

/*lista de produtos*/
#listaProdutos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  align-items: baseline;
  color: rgb(144, 211, 211);
  gap: 20px;
  padding: 20px 0;
}

.produto-card {
  border: 1px solid var(--cor-destaque);
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  max-width: 300px;

  border-radius: 10%;
  transition: transform 0.2s;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 100%; 
}

.produto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

a{
  color: var(--cor-card-texto);
  text-decoration: none;
}

.produto-card:hover {
  transform: scale(1.05);
}

/*página com detalhe do produto*/
#detalhes-produto{
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.produto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.produto-image{
  width: 100%;
  border-radius: 10%;
  gap: 50px;
}

.produto-info{
  font-size: 1.2rem;
  color: var(--cor-texto);
  flex: 1;
}

.produto-info h1{
  margin-bottom: 20px;
  color: var(--cor-destaque);
  font-size: 2.5rem;
}

.botao-voltar{
  display: inline-block;
  background-color: var(--cor-destaque);
  color: var(--cor-card-texto);
  
}

input:invalid{
  background-color: rgba(247, 179, 179, 0.925);
}

.card p {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.preco {
  display: block; /* olhar para que serve*/
  font-weight: 700;
  margin-bottom: 1rem;
}

.btn-secundario {
  display: inline-block; /* olhar para que serve*/
  border: 2px solid var(--cor-destaque);
  color: var(--cor-destaque);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
}

.btn-secundario:hover {
  background: var(--cor-destaque);
  color: #fff;
}

/* Seção de Contato */
.contato {
  background: #fafafa;
  padding: 3rem 2rem;
}

.contato-form {
  max-width: 500px;
  margin: 0 auto; /* olhar para que serve*/
  text-align: center;
}

.contato-form h2 {
  font-family: var(--fonte-titulos);
  font-size: 2rem;
  color: var(--cor-destaque);
  margin-bottom: 1.5rem;
}

.contato-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contato-form input,
.contato-form textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}

.contato-form button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: var(--cor-destaque);
  color: #fff;
  padding: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
  transition: background 0.3s;
}

.contato-form button:hover {
  background: var(--cor-destaque-escuro);
}

/* Rodapé */
footer {
  text-align: center;
  padding: 2rem;
  background: #f0f0f0;
}

.social a {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  color: var(--cor-texto);
  transition: color 0.3s;
}

.social a:hover {
  color: var(--cor-destaque);
}

footer p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #777;
}

/* Responsividade */
@media (max-width: 768px) {
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-image img {
    margin-bottom: 2rem;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

/*ADICIONADO POR RUAN*/

/* estilizaçao do nav quando clica no botao menu hamburguer*/
.links-container ul.active {
  display: flex;  /* Mostra o menu quando a classe "active" for ativada */ /*a classe active so existe quando o javascript adiciona ela*/
  flex-direction: column;
  gap: 1rem;
  background-color: var(--cor-fundo);
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 10;
}

/*deixa o botao menu hamburguer invisivel por padrao*/
.menu-hamburguer {
  display: none;
}

/*quando a janela tem até 768px de comprimento, esse bloco é usado, exibindo o botao menu hamburguer e deixando os links da nav invisivel*/
@media (max-width: 768px) {
  .links-container ul {
    display: none; /*torna os links da nav invisivel*/
  }
  .menu-hamburguer {
    display: block; /* Mostra o botão hamburguer */
    font-size: 1.5rem;
    color: var(--cor-destaque);
    cursor: pointer;
  }
}


/* Seção Sobre */
.sobre-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  gap: 3rem;
  background-color: #fdfdfd;
  flex-wrap: wrap;
}

.sobre-texto, .sobre-img {
  flex: 1 1 400px; /* tamanho mínimo de 400px e expansível */
  max-width: 500px;
}

.sobre-texto h1 {
  font-family: var(--fonte-titulos);
  font-size: 2.5rem;
  color: var(--cor-destaque);
  margin-bottom: 1.5rem;
}

.sobre-texto p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: var(--cor-texto);
}

.sobre-img {
  text-align: center;
}

.sobre-img img {
  width: 100%;
  max-width: 500px;
  min-width: 280px; /* tamanho mínimo */
  height: auto;
  border-radius: 12px;
}
/*FIM DA ADIÇAO DE RUAN*/